import React from 'react';
import { shallow } from 'enzyme';

import {{ name }} from './';

describe('<{{ name }} />', () => {
  it('renders correctly', () => {
    expect(shallow(<{{ name }} />)).toMatchSnapshot();
  });
});
